@import "../themes/colors";

@media (max-width:  720px) {

  .nav-link {
    display: none;
  }
  .landing{
    background: url("../../../public/images/mobile/image-header.jpg") no-repeat center;
    background-size: 100%;
    background-position-y: bottom;
    height: 65vh;
    h1 {
      margin-top: 100px;
    }
  }
  // Main part
  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .main-block {
    img {
      width: 100vw;
    }
  }
}

nav {
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #3EC0FF;

}
.landing {
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  top: 0;
  width: 100%;
  color: #fff;
  h1 {
    font-family: 'Fraunces', serif;
    font-size: 55px;
    text-align: center;
  }
}
.text {
  text-align: center;
  padding: 60px 40px;
  h2 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
  }
  P {
    color: $Grayish-blue;
    font-size: 20px;
  }
  a {
    font-family: 'Fraunces', serif;
    color: black;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: $Yellow;
    font-weight: 900;
  }
}


.block-1 {
  background: url("../../../public/images/mobile/image-graphic-design.jpg") no-repeat center;

}
.block-2 {
  background: url("../../../public/images/mobile/image-photography.jpg") no-repeat center;
}
.img-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  background-size: 100%;
  background-position-y: top;
  height: 568px;
  p{
    color: black;
  }
}