// Colors
// primary
$Soft-red : hsl(7, 99%, 70%);
$Yellow:hsl(51, 100%, 49%);
$Dark-desaturated : hsl(167, 40%, 24%);
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate:hsl(168, 34%, 41%);

//neutral
$esaturated-blue: hsl(212, 27%, 19%);
$grayish-blue: hsl(213, 9%, 39%);
$grayish-blue:hsl(232, 10%, 55%);
$Grayish-blue:hsl(210, 4%, 67%);
$White:hsl(0, 0%, 100%);


//Neutral all
* {
  font-family: 'Barlow', sans-serif;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
body {
  padding: 0;
  margin: 0;
}
